::ng-deep .dx-popup-title.dx-toolbar {
    padding: 10px 16px;
    overflow: visible;
    box-shadow: none;
    background: #681330;
}

.modal-agregar-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-agregar {
  background: #141a21;
  padding: 16px 24px;
  width: 50%;
  height: 70%;
  max-width: 50%;
  max-height: 70%;
  overflow: auto;
  border-radius: 8px;
}

#map {
  width: 100%;
  height: 450px;
  border-radius: 6px;
}
